# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.env

# Angular
/dist
/.angular
/frontend/dist
/frontend/.angular

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
